### 1. Dataset Description  <a id='columns'>

Data

The dataset is based on salary and job postings in India across the internet. The train and the test data consists of attributes mentioned below. The rows of train dataset has rich amount of information regarding the job posting such as name of the designation and key skills required for the job.
The training data and test data comprise of 19802 samples and of 6601 samples each. This is a dataset which has been collected over some time to gather relevant analytics jobs posting over the years.

Features:

-**Name of the company** (Encoded)

-**Years of experience**

Job description

Job designation

Job Type

Key skills

Location

Salary in Rupees Lakhs(To be predicted)

Problem Statement

Based on the given attributes and salary information, build a robust machine learning model that predicts the salary range of the salary post.

In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import matplotlib
%matplotlib inline
import seaborn as sns
import pandas_profiling
matplotlib.rc('xtick', labelsize=20) 
matplotlib.rc('ytick', labelsize=20)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score, log_loss
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost.sklearn import XGBClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import KFold
from sklearn import metrics

from collections import Counter

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\asyncio\base_events.py", line 1432, in _run_once
    handle._run()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\ioloop.py", line 759, in _run_callback
    ret = callback()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 536, in <lambda>
    self.io_loop.add_callback(lambda : self._handle_events(self.socket, 0))
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2903, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-771d89f7d934>", line 6, in <module>
    get_ipython().run_line_magic('matplotlib', 'inline')
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2131, in run_line_magic
    result = fn(*args,**kwargs)
  File "<decorator-gen-108>", line 2, in matplotlib
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\magics\pylab.py", line 99, in matplotlib
    gui, backend = self.shell.enable_matplotlib(args.gui)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3051, in enable_matplotlib
    pt.activate_matplotlib(backend)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\__init__.py", line 1410, in use
    reload(sys.modules['matplotlib.backends'])
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\importlib\__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_mode_interactivity = "all"

In [3]:
ds_input=pd.read_csv(r'Final_Train_Dataset.csv')
dst_input=pd.read_csv(r'Final_Test_Dataset.csv')

In [4]:
#report = pandas_profiling.ProfileReport(ds_input)
#covert profile report as html file
#report.to_file("ds_input.html")

In [5]:
 ds_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19802 entries, 0 to 19801
Data columns (total 9 columns):
Unnamed: 0              19802 non-null int64
experience              19802 non-null object
job_description         15384 non-null object
job_desig               19802 non-null object
job_type                4797 non-null object
key_skills              19801 non-null object
location                19802 non-null object
salary                  19802 non-null object
company_name_encoded    19802 non-null int64
dtypes: int64(2), object(7)
memory usage: 1.4+ MB

In [6]:
#dropping job_desription as it seems to be covered by experience and skills.
ds_input.drop(['Unnamed: 0','job_description'],inplace= True,axis=1)
dst_input.drop(['job_description'],inplace= True,axis=1)

In [7]:
#dropping 1 null key skills row.
ds_input.drop(ds_input[ds_input['key_skills'].isnull()].index.tolist(),inplace=True)
dst_input.drop(dst_input[dst_input['key_skills'].isnull()].index.tolist(),inplace=True)

In [8]:
ds_input

,experience,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,5-7 yrs,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,10-17 yrs,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,5-9 yrs,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,7-10 yrs,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,1-3 yrs,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305
5,5-10 yrs,Senior Trainer- Academics,NaN,"academics, effective communication, teacher tr...",Noida,6to10,4428
6,13-15 yrs,Associate Vice President - Fraud Analytics - S...,Analytics,"Fraud Analytics, People Management Skills, Tea...",Delhi NCR,25to50,1988
7,6-10 yrs,Manager - Internal Audit - CA - Big4,NaN,"Accounting, Internal Audit, Auditing, Enterpri...",Pune,6to10,1793
8,1-3 yrs,Payroll Executive,NaN,"esic, hr, bonus, pf, tds, payroll, superannuat...",Ahmedabad(Bodakdev),0to3,3398
9,2-6 yrs,Required CA (manager Finance) for R&R Salons P...,NaN,"accounting standards, finance, auditing, finan...",Bengaluru(Kodihalli),15to25,3444
10,3-7 yrs,Business Analyst,NaN,"Test Data, Data Science, Business Analysis, Ma...",Mohali,6to10,3492
11,10-12 yrs,Senior AVP - Model Development - Bank - IIM/ M...,Analytics,"Banking, Model Development, Analytics, People ...","Delhi NCR, Gurgaon",10to15,1969
12,2-6 yrs,Sales and Marketing Data Analyst - Data Analytics,Analytics,"Marketing Automation, Sales, Salesforce, Eloqu...",Pune(Kharadi),10to15,3692
13,2-4 yrs,Analytics Specialist - Data Science & Big Data,Analytics,"Data Science, Machine Learning, R, Big Data, P...",Mumbai,6to10,4479
14,1-6 yrs,Manager / Assistant Manager- FP &A,NaN,"Budgeting, Variance Analysis, Forecasting, Capex",Gurgaon,10to15,2127
15,3-6 yrs,NLP & Semantic Specialist - Java/j2ee,NaN,"Spring, Core Java, J2Ee, Hibernate, Javascript...","Gurgaon, Gurugram",10to15,2914
16,5-8 yrs,Hadoop Developer - Rdbms/netezza/oracle,NaN,"Hadoop, HBase, Digital Marketing, Netezza, Uni...",Bengaluru,6to10,3998
17,3-6 yrs,Business Finance Partner,NaN,"Business Finance, Financial Control, Business ...",Bengaluru,10to15,1548
18,4-9 yrs,Data Scientist - Ecommerce,NaN,"Information Retrieval, Hadoop, Hive, Spark, Ma...",Bengaluru,15to25,2401
19,3-5 yrs,Digital Marketing Role,NaN,"Digital Marketing, Google Adwords, marketing, ...",Bengaluru,6to10,4554
20,1-5 yrs,"Business Analyst - Gurgaon, HR",NaN,"Business Analyst - Gurgaon, HR",Gurgaon,6to10,3113
21,8-12 yrs,"Cyber Risk - Chennai Location - Privacy, Data ...",NaN,"Business Continuity, Data Privacy, ISMS, Infor...",Chennai,25to50,1178
22,10-12 yrs,Avp/senior AVP - SAS Analytics - Consulting Fi...,Analytics,"project implementation, client management, sas...",Bengaluru,10to15,1969
23,3-5 yrs,"Analyst, AR",NaN,"AR, reconciliations, Finance, Accounting, work...",Pune,0to3,2650
24,1-4 yrs,Immediately Required Software Tester in IT Par...,NaN,"manual testing, test scripts, performance test...",Chandigarh,0to3,4681
25,10-20 yrs,Project Manager - Investment Research - BFSI,NaN,"Sales, Equity Research, Investment Research, I...",Mumbai,25to50,4298
26,3-7 yrs,"E Commerce Manager,",NaN,"amazon, E - commerce, PORTAL HANDLING, Busines...",Ahmedabad(Bopal),3to6,895
27,3-5 yrs,Financial Business Analyst (third Party Payroll),NaN,"finance, mis, business analysis, Excel, Macros",Gurgaon,0to3,3063
28,1-3 yrs,IXO IOT Applications,Analytics,"Analytics, Javascript, SCADA, Outsourcing, Pyt...",Bengaluru,3to6,190
29,2-5 yrs,Opportunity for Junior Manager / Assistant Man...,NaN,"Life Insurance, Actuarial, Actuarial Analyst, ...","Mumbai, Mumbai Suburbs",15to25,2012
...,...,...,...,...,...,...,...
19772,0-1 yrs,Urgent Hiring/ Walk In Drive for BDE - Jhande...,NaN,"business development, marketing, franchisee de...",Delhi,0to3,294
19773,18-25 yrs,Head - Product Management - Telecom/r&d - Iit/...,NaN,"Product Management, Head - Product Management,...","Bengaluru, Mumbai, Gurgaon, Gurugram",25to50,2621
19774,7-10 yrs,Vertica Technical Specialist - Centre of Excel...,NaN,"C, Algorithms, C++, Data Structures, Multithre...","Delhi, Mumbai, Bengaluru",15to25,2773
19775,1-5 yrs,R1rcm- Accretive Analyst/ Senior Analyst Backe...,NaN,"bpo, kpo, non bpo, night shift, us process, uk...",Gurgaon,0to3,2094
19776,0-1 yrs,Software Sales CRM,analytics,"software sales, selling, predictive analytics,...",Hyderabad(Madhapur),0to3,269
19777,8-13 yrs,Senior Manager - Reporting/analytics & Busines...,analytics,"sales enablement, mis, business operations, bu...",Bengaluru,25to50,1893
19778,9-11 yrs,Zonal Business Head - Lcv/hcv/ce Financing - N...,NaN,"Driving, HCV, LCV, Commercial Vehicle, Structu...",Chennai,10to15,3319
19779,9-14 yrs,Trading Head - Market Making/high Frequency Tr...,NaN,"High Frequency Trading, Trading Head",India,25to50,1353
19780,3-5 yrs,Azure Developer,NaN,"Hive, Spark, Hadoop, Talend, Devops, Data Inte...",Hyderabad,10to15,874
19781,2-5 yrs,Content Auditor,NaN,"copy writing, Content Analysis, content resear...",Noida,6to10,2829
19782,1-4 yrs,"Credit Manager,",NaN,"Financial Analysis, Credit Analysis, Finance, ...",Delhi NCR(Peeragarhi),0to3,3940
19783,5-10 yrs,Security Operations Analyst,NaN,"nessus, splunk, wireshark",Mumbai,10to15,3498
19784,5-8 yrs,Collection Analyst,NaN,"NBFC, Interpersonal skills, Legal, Collection ...",Kolkata,10to15,911
19785,7-10 yrs,Job Opening for Mep-qs for a Leading PMC in Mu...,NaN,"Estimation, Billing, Business Planning, Rate A...",Mumbai,10to15,2365
19786,1-6 yrs,Full time Digital Marketing Trainer( Apply by ...,NaN,"digital marketing, seo, email marketing, youtu...","Kanpur, Lucknow, Agra",3to6,1110
19787,5-10 yrs,FP&A Lead,NaN,"Finance, Accounting, Budgeting, Financial Anal...","Greater Noida, Gurgaon",15to25,779
19788,1-6 yrs,Opening for Relationship Manager-direct Marketing,NaN,"Sales, Marketing, Benefits, Cross Selling, Sal...","Chennai, Coimbatore",0to3,3188
19789,8-11 yrs,Principal Software Engineer - IT,NaN,"powershell, octopus, .net, continuous integrat...",Bengaluru,10to15,1174
19790,1-6 yrs,Executive / AM Sales / Sr Counselor -- Bangalore,NaN,"student advisor, career advisor, enrollment ex...",Bengaluru(Jayanagar+1),0to3,2036
19791,9-14 yrs,Senior Product Manager,NaN,"Product Strategy, Project Management, Marketin...",Chennai,15to25,1871
19792,5-10 yrs,PHP Analyst - Mysql/javascript,NaN,"HTML, Javascript, CSS, JQuery, JSON, Html5, My...","Delhi NCR, Greater Noida",10to15,4272
19793,4-7 yrs,SDET - Selenium Webdriver & (python/java),Analytics,"java, selenium webdriver, sdet, python, contin...",Chennai,10to15,1727
19794,7-12 yrs,Solution Architect-security for Bangalore / Mu...,Analytics,"Security Analytics, SIEM, Arcsight, QRadar, Sp...","Bengaluru, Delhi NCR, Mumbai",10to15,4384
19795,3-6 yrs,Opening for CA Fresher | Amravati,NaN,"Lap, Credit Policy, HL, Credit Risk Management...",Amravati,3to6,173
19796,1-3 yrs,Executive Custome Executive (merchandising ),NaN,"HTML, XML, C, Communication Skills",Pune,0to3,838
19797,12-18 yrs,"Director, Medical Coding Training",NaN,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245
19798,0-3 yrs,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966
19799,8-13 yrs,PM- C#/ .Net ( Annuity/ Insurance Domain),NaN,"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,15to25,4272
19800,1-3 yrs,Consultant - Internal Audit,NaN,"accounting, internal audit, auditing, risk adv...",Pune,10to15,1793
19801,2-5 yrs,Unity 3D Developer - Mobile Games Development,NaN,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,10to15,1349

In [9]:
#combining the train and test 
y_train = ds_input['salary']
train_nomissing = ds_input.drop('salary',axis=1)
test_nomissing = dst_input
combined_set = pd.concat([train_nomissing, test_nomissing], axis = 0) # Stacks them vertically

In [10]:
 combined_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26402 entries, 0 to 6600
Data columns (total 6 columns):
experience              26402 non-null object
job_desig               26402 non-null object
job_type                6433 non-null object
key_skills              26402 non-null object
location                26402 non-null object
company_name_encoded    26402 non-null int64
dtypes: int64(1), object(5)
memory usage: 1.4+ MB

In [11]:
combined_set["job_type"].fillna("Others",inplace = True)

In [12]:
# Job type 
combined_set["job_type"] = combined_set["job_type"].apply(lambda x: " ".join(x.lower() for x in x.split()))
combined_set["job_type"]= combined_set["job_type"].replace("analytic", "analytics")

In [13]:
ds_exp = combined_set["experience"].str.split("-",n=1,expand=True)
ds_exp[1]=ds_exp[1].str.replace("yrs",'')
combined_set["Exp_min"]= ds_exp[0].astype(str).astype(int)
combined_set["Exp_max"]= ds_exp[1].astype(str).astype(int)

combined_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26402 entries, 0 to 6600
Data columns (total 8 columns):
experience              26402 non-null object
job_desig               26402 non-null object
job_type                26402 non-null object
key_skills              26402 non-null object
location                26402 non-null object
company_name_encoded    26402 non-null int64
Exp_min                 26402 non-null int32
Exp_max                 26402 non-null int32
dtypes: int32(2), int64(1), object(5)
memory usage: 1.6+ MB

 #def upd_exp(exp):
    exp = int(exp)
    if(exp <=3):
        exp=1
    elif (exp<= 5):
        exp=2
    elif(exp<= 10):
        exp=3
    elif(exp<= 15):
        exp=4
    elif(exp> 15):
        exp = 5
    return exp

ds_input["exp_range"]= ds_exp[1].apply(upd_exp)

### Data exploration

### 4. Feature Engineering  <a id='feature'>

In [14]:
combined_set["location"] = combined_set["location"].str.replace('[^\w\s]','')
ds_loc=combined_set["location"].str.split(" ",n=1,expand=True)
ds_loc
a= ds_loc.groupby([0])

In [15]:
def upd_loc(loc):
    if(loc in ["Bengaluru","Mumbai","Pune","Hyderabad","Chennai","Delhi","Noida","Gurgaon"]):
        loc=loc      
    else:
        loc="other"
    return loc

combined_set["location"]= ds_loc[0].apply(upd_loc)

In [16]:
combined_set.head()

,experience,job_desig,job_type,key_skills,location,company_name_encoded,Exp_min,Exp_max
0,5-7 yrs,Senior Exploit and Vulnerability Researcher,others,"team skills, communication skills, analytical ...",Delhi,3687,5,7
1,10-17 yrs,Head SCM,others,"ppc, logistics, inventory management, supply c...",other,458,10,17
2,5-9 yrs,Deputy Manager - Talent Management & Leadershi...,analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi,4195,5,9
3,7-10 yrs,Associate Manager Data Engineering,analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,7,10
4,1-3 yrs,TS- GSA- Senior Analyst,others,"accounting, finance, cash flow, financial plan...",Gurgaon,1305,1,3

In [17]:
location_dummies = pd.get_dummies(combined_set.location, prefix='loc')
combined_set = pd.concat([combined_set,location_dummies], axis=1)
job_type_dummies = pd.get_dummies(combined_set.job_type, prefix='jobt1')
combined_set = pd.concat([combined_set,job_type_dummies], axis=1)

In [18]:
combined_set.head()

,experience,job_desig,job_type,key_skills,location,company_name_encoded,Exp_min,Exp_max,loc_Bengaluru,loc_Chennai,loc_Delhi,loc_Gurgaon,loc_Hyderabad,loc_Mumbai,loc_Noida,loc_Pune,loc_other,jobt1_analytics,jobt1_others
0,5-7 yrs,Senior Exploit and Vulnerability Researcher,others,"team skills, communication skills, analytical ...",Delhi,3687,5,7,0,0,1,0,0,0,0,0,0,0,1
1,10-17 yrs,Head SCM,others,"ppc, logistics, inventory management, supply c...",other,458,10,17,0,0,0,0,0,0,0,0,1,0,1
2,5-9 yrs,Deputy Manager - Talent Management & Leadershi...,analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi,4195,5,9,0,0,1,0,0,0,0,0,0,1,0
3,7-10 yrs,Associate Manager Data Engineering,analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,7,10,1,0,0,0,0,0,0,0,0,1,0
4,1-3 yrs,TS- GSA- Senior Analyst,others,"accounting, finance, cash flow, financial plan...",Gurgaon,1305,1,3,0,0,0,1,0,0,0,0,0,0,1

bangl_counts = combined_set['loc_Bengaluru'].loc[combined_set['loc_Bengaluru']==1].groupby(combined_set['salary']).count()
bangl_counts/len(combined_set)

Hydl_counts = combined_set['loc_Hyderabad'].loc[combined_set['loc_Hyderabad']==1].groupby(combined_set['salary']).count()
Hydl_counts/len(combined_set)

muml_counts = combined_set['loc_Mumbai'].loc[combined_set['loc_Mumbai']==1].groupby(combined_set['salary']).count()
muml_counts/len(combined_set)

In [19]:
# Merge job_desig+ job_type +key_skills
combined_set["combined"] = combined_set["job_desig"]+ ' '+combined_set["key_skills"]

In [20]:
combined_set.head()

,experience,job_desig,job_type,key_skills,location,company_name_encoded,Exp_min,Exp_max,loc_Bengaluru,loc_Chennai,loc_Delhi,loc_Gurgaon,loc_Hyderabad,loc_Mumbai,loc_Noida,loc_Pune,loc_other,jobt1_analytics,jobt1_others,combined
0,5-7 yrs,Senior Exploit and Vulnerability Researcher,others,"team skills, communication skills, analytical ...",Delhi,3687,5,7,0,0,1,0,0,0,0,0,0,0,1,Senior Exploit and Vulnerability Researcher te...
1,10-17 yrs,Head SCM,others,"ppc, logistics, inventory management, supply c...",other,458,10,17,0,0,0,0,0,0,0,0,1,0,1,"Head SCM ppc, logistics, inventory management,..."
2,5-9 yrs,Deputy Manager - Talent Management & Leadershi...,analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi,4195,5,9,0,0,1,0,0,0,0,0,0,1,0,Deputy Manager - Talent Management & Leadershi...
3,7-10 yrs,Associate Manager Data Engineering,analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,7,10,1,0,0,0,0,0,0,0,0,1,0,"Associate Manager Data Engineering SQL, Javasc..."
4,1-3 yrs,TS- GSA- Senior Analyst,others,"accounting, finance, cash flow, financial plan...",Gurgaon,1305,1,3,0,0,0,1,0,0,0,0,0,0,1,"TS- GSA- Senior Analyst accounting, finance, c..."

In [21]:
combined_set=combined_set.drop(['experience','job_desig','key_skills','location','job_type'],axis=1)

combined_set.head()

,company_name_encoded,Exp_min,Exp_max,loc_Bengaluru,loc_Chennai,loc_Delhi,loc_Gurgaon,loc_Hyderabad,loc_Mumbai,loc_Noida,loc_Pune,loc_other,jobt1_analytics,jobt1_others,combined
0,3687,5,7,0,0,1,0,0,0,0,0,0,0,1,Senior Exploit and Vulnerability Researcher te...
1,458,10,17,0,0,0,0,0,0,0,0,1,0,1,"Head SCM ppc, logistics, inventory management,..."
2,4195,5,9,0,0,1,0,0,0,0,0,0,1,0,Deputy Manager - Talent Management & Leadershi...
3,313,7,10,1,0,0,0,0,0,0,0,0,1,0,"Associate Manager Data Engineering SQL, Javasc..."
4,1305,1,3,0,0,0,1,0,0,0,0,0,0,1,"TS- GSA- Senior Analyst accounting, finance, c..."

### NLP

###  Lower case   <a id='erf'>

In [22]:
combined_set['combined'] = combined_set['combined'].apply(lambda x: " ".join(x.lower() for x in x.split()))
combined_set['combined'].head()

0    senior exploit and vulnerability researcher te...
1    head scm ppc, logistics, inventory management,...
2    deputy manager - talent management & leadershi...
3    associate manager data engineering sql, javasc...
4    ts- gsa- senior analyst accounting, finance, c...
Name: combined, dtype: object

### Removing Punctuation  <a id='erf'>

In [23]:
combined_set['combined'] = combined_set['combined'].str.replace('[^\w\s]','')
combined_set['combined'].head()

0    senior exploit and vulnerability researcher te...
1    head scm ppc logistics inventory management su...
2    deputy manager  talent management  leadership ...
3    associate manager data engineering sql javascr...
4    ts gsa senior analyst accounting finance cash ...
Name: combined, dtype: object

### Removal of Stop Words <a id='erf'>

In [24]:
import nltk.corpus
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
combined_set['combined'] = combined_set['combined'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
combined_set['combined'].head()

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

0    senior exploit vulnerability researcher team s...
1    head scm ppc logistics inventory management su...
2    deputy manager talent management leadership de...
3    associate manager data engineering sql javascr...
4    ts gsa senior analyst accounting finance cash ...
Name: combined, dtype: object

###  Common word removal <a id='erf'>

In [25]:
freq = pd.Series(' '.join(combined_set['combined']).split()).value_counts()[:10]
freq

data           9631
analytics      8361
business       7134
analyst        6891
management     6756
analysis       6728
manager        5860
marketing      5069
sales          3382
development    3370
dtype: int64

In [26]:
freq = list(freq.index)
combined_set['combined'] = combined_set['combined'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
combined_set['combined'].head()

0    senior exploit vulnerability researcher team s...
1    head scm ppc logistics inventory supply chain ...
2    deputy talent leadership auto hr employee enga...
3    associate engineering sql javascript automatio...
4    ts gsa senior accounting finance cash flow fin...
Name: combined, dtype: object

### Rare words removal <a id='erf'>

In [27]:
freq = pd.Series(' '.join(combined_set['combined']).split()).value_counts()[-10:]
freq

cryptocurrency        1
lal                   1
3delhi                1
developer_vikhroli    1
cps                   1
pspice                1
technicalwriting      1
builders              1
iitnitiimmdiis        1
ev                    1
dtype: int64

In [28]:
freq = list(freq.index)
combined_set['combined'] = combined_set['combined'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
combined_set['combined'].head()

0    senior exploit vulnerability researcher team s...
1    head scm ppc logistics inventory supply chain ...
2    deputy talent leadership auto hr employee enga...
3    associate engineering sql javascript automatio...
4    ts gsa senior accounting finance cash flow fin...
Name: combined, dtype: object

### Spelling correction<a id='erf'>

In [29]:
from textblob import TextBlob
combined_set['combined'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    senior exploit vulnerability researcher team s...
1    head sum pp logistics inventor supply chain pr...
2    deputy talent leadership auto he employee enga...
3    associate engineering sal javascript automatic...
4    to gas senior accounting finance cash flow fin...
Name: combined, dtype: object

### Stemming<a id='erf'>

In [30]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
combined_set['combined'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    senior exploit vulner research team skill comm...
1    head scm ppc logist inventori suppli chain procur
2    deputi talent leadership auto hr employe engag...
3    associ engin sql javascript autom python rubi ...
4    ts gsa senior account financ cash flow financi...
Name: combined, dtype: object

### Lemmatization<a id='erf'>

In [31]:
from textblob import Word
nltk.download('wordnet')
combined_set['combined'] = combined_set['combined'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
combined_set['combined'].head()

[nltk_data] Error loading wordnet: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

0    senior exploit vulnerability researcher team s...
1    head scm ppc logistics inventory supply chain ...
2    deputy talent leadership auto hr employee enga...
3    associate engineering sql javascript automatio...
4    t gsa senior accounting finance cash flow fina...
Name: combined, dtype: object

### All these pre-processing steps are essential and help us in reducing our vocabulary clutter so that the features produced in the end are more effective. <a id='erf'>

### TF-IDFTF-IDF<a id='erf'>

In [32]:
df_train = combined_set[:train_nomissing.shape[0]] # Up to the last initial training set row
df_test = combined_set[train_nomissing.shape[0]:] # Past the last initial training set row

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(df_train['combined'].tolist())

In [34]:
dfs=pd.DataFrame(train_vect.toarray().tolist(),columns= tfidf.get_feature_names())

In [35]:
df_train.reset_index(drop=True,inplace=True)

In [36]:
dfs.reset_index(drop=True,inplace=True)

In [37]:
df_train= pd.concat([df_train,dfs], axis=1)

In [38]:
test_vect = tfidf.transform(df_test['combined'].tolist())

In [39]:
dfst=pd.DataFrame(test_vect.toarray().tolist(),columns= tfidf.get_feature_names())

In [40]:
df_test.reset_index(drop=True,inplace=True)

In [41]:
dfst.reset_index(drop=True,inplace=True)

In [42]:
df_test= pd.concat([df_test,dfst], axis=1)

duplicate_col=combined_set.columns[combined_set.columns.duplicated()]
duplicate_col

# Convert Categorical to Numerical for default column
company_name_encoded_dummies = pd.get_dummies(combined_set.company_name_encoded, prefix='comp')
combined_set = pd.concat([combined_set,company_name_encoded_dummies], axis=1)

In [43]:
df_train.head()

,company_name_encoded,Exp_min,Exp_max,loc_Bengaluru,loc_Chennai,loc_Delhi,loc_Gurgaon,loc_Hyderabad,loc_Mumbai,loc_Noida,...,yield,young,youtube,yr,zabbix,zap,zend,zonal,zone,zoology
0,3687,5,7,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,458,10,17,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4195,5,9,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,313,7,10,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1305,1,3,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Scaling dataset   <a id='pcalr'>

In [44]:
df_train = df_train.drop(['combined','company_name_encoded'],axis=1)
df_test = df_test.drop(['combined','company_name_encoded'],axis=1)

In [45]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df_train_arr_scld = sc.fit_transform(df_train)
df_train_scld=pd.DataFrame(df_train_arr_scld,columns=df_train.columns)
df_test_arr_scld = sc.transform(df_test)
df_test_scld=pd.DataFrame(df_test_arr_scld,columns=df_test.columns)

from sklearn.preprocessing import MinMaxScaler
scld=MinMaxScaler(feature_range=(0,1))
combined_set_arr_scld =scld.fit_transform(combined_set)
combined_set_scld=pd.DataFrame(combined_set_arr_scld,columns=combined_set.columns)


#pca = PCA()
#pca.fit(Xd)

In [46]:
# Spitting the data into Test and Train from combined_set_scld

train = df_train_scld # Up to the last initial training set row
test = df_test_scld # Past the last initial training set row
labels = y_train
# Convertig string target variable into numeric one
#y_train = pd.to_numeric(y_train, errors='coerce')

In [47]:
train.shape

(19801, 5013)

In [48]:
test.shape

(6601, 5013)

In [49]:
# Keep one set of train data for further use
train1=train.copy()
test1=test.copy()
y_train1=y_train.copy()

### Applying LDA to dataset   <a id='pcalr'>

In [50]:
#train=train1
#test=test1
#y_train=y_train1

# Fitting the LDA on the data
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()
lda=lda.fit(train,y_train)

## We'll get variance explaination from only one Linear Discriminant because number of Linear Discriminant=(no.classes-1)
lda.explained_variance_ratio_

#### ## Applying LDA on the the features to reduce the dimension

train=lda.transform(train)
test=lda.transform(test)

train2=train
test2=test

In [51]:
#train=train2
#test=test2

In [52]:
# consider first 15 components as they are explaining the 90% of variation in the data

#x_pca = PCA(n_components=1)
#Xd_pca = x_pca.fit_transform(Xd)
#xd_test_pca = x_pca.fit_transform(xd_test)

#### Train_test_split of the data

In [53]:
train, validation,train_labels,validation_labels = train_test_split(train,labels,test_size=0.2,random_state=42)

### Let's start building models

In [54]:
sgd_clf = SGDClassifier(random_state=42, tol = 0.001, max_iter = 40000,loss="log")
sgd_clf.fit(train,train_labels)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='log', max_iter=40000, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=0.001, verbose=0, warm_start=False)

In [55]:
sample_data = train
sample_labels = train_labels.iloc[:5]
sgd_clf.predict(sample_data)

array(['3to6', '6to10', '10to15', ..., '10to15', '10to15', '3to6'],
      dtype='<U6')

In [56]:
sample_labels

7627       3to6
8224      6to10
4319     10to15
12026    10to15
18743    15to25
Name: salary, dtype: object

In [57]:
def evaluate(labelsTrue,predictions1,predictions2):
    if len(predictions1)>0:
        f1 = f1_score(labelsTrue,predictions1,average="weighted")
        print("F1 score: ",f1)
        print("Test Accuracy: ", metrics.accuracy_score(labelsTrue,predictions1))
        cr = metrics.classification_report(labelsTrue,predictions1)
        print(cr)
    if len(predictions2)>0:
        logloss = log_loss(labelsTrue,predictions2, eps=1e-15, normalize=True, sample_weight=None, labels=None)
        print("Log loss for predicted probabilities:",logloss)

In [58]:
sgd_prediction1 = sgd_clf.predict(validation)
sgd_prediction2 = sgd_clf.predict_proba(validation)
evaluate(validation_labels,sgd_prediction1,sgd_prediction2)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\base.py:347: RuntimeWarning: invalid value encountered in true_divide
  prob /= prob.sum(axis=1).reshape((prob.shape[0], -1))

F1 score:  0.3513142231161407
Test Accuracy:  0.3451148699823277
             precision    recall  f1-score   support

       0to3       0.67      0.47      0.55       619
     10to15       0.30      0.41      0.34       923
     15to25       0.33      0.34      0.34       835
     25to50       0.58      0.33      0.42       303
       3to6       0.33      0.24      0.28       553
      6to10       0.22      0.25      0.24       728

avg / total       0.38      0.35      0.35      3961

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [59]:
sgd_prediction1

array(['0to3', '15to25', '3to6', ..., '10to15', '6to10', '3to6'],
      dtype='<U6')

In [60]:
sgd_prediction2

array([[1.00000000e+000, 8.77532732e-246, 5.46798560e-103,
        0.00000000e+000, 3.92148769e-124, 1.36451917e-115],
       [3.43773467e-292, 2.01646605e-007, 8.86255695e-001,
        0.00000000e+000, 1.14234503e-257, 1.13744104e-001],
       [0.00000000e+000, 9.49159801e-154, 5.70433850e-179,
        0.00000000e+000, 1.00000000e+000, 1.40183377e-011],
       ...,
       [0.00000000e+000, 1.00000000e+000, 1.58902296e-056,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 6.77342270e-148, 4.01216704e-003,
        0.00000000e+000, 0.00000000e+000, 9.95987833e-001],
       [0.00000000e+000, 9.78073005e-002, 1.89735157e-001,
        0.00000000e+000, 7.12457542e-001, 2.15125706e-120]])

In [61]:
yst_pred_sgd = sgd_clf.predict(test)

#### KNN

In [57]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(train,train_labels)
knn_prediction1 = knn_clf.predict(validation)
knn_prediction2 = knn_clf.predict_proba(validation)
evaluate(validation_labels,knn_prediction1,knn_prediction2)

F1 score:  0.28431496071994455
Test Accuracy:  0.3037111840444332
             precision    recall  f1-score   support

       0to3       0.29      0.64      0.40       619
     10to15       0.27      0.37      0.32       923
     15to25       0.36      0.24      0.29       835
     25to50       0.51      0.26      0.35       303
       3to6       0.33      0.19      0.24       553
      6to10       0.24      0.10      0.15       728

avg / total       0.32      0.30      0.28      3961

Log loss for predicted probabilities: 10.344803578804957

In [58]:
yst_pred_knn = knn_clf.predict(test)

#### Random Forest Classifier

In [65]:
rf_clf = RandomForestClassifier(n_estimators=400,n_jobs=-1)
rf_clf.fit(train,train_labels)
rf_prediction1 = rf_clf.predict(validation)
rf_prediction2 = rf_clf.predict_proba(validation)
evaluate(validation_labels,rf_prediction1,rf_prediction2)

F1 score:  0.3773985956789411
Test Accuracy:  0.3817217874274173
             precision    recall  f1-score   support

       0to3       0.61      0.70      0.65       619
     10to15       0.32      0.37      0.35       923
     15to25       0.35      0.36      0.35       835
     25to50       0.53      0.42      0.46       303
       3to6       0.35      0.24      0.28       553
      6to10       0.25      0.24      0.25       728

avg / total       0.38      0.38      0.38      3961

Log loss for predicted probabilities: 1.5755294998651577

In [66]:
yst_pred_rf = rf_clf.predict(test)

#### ExtraTrees Classifier

In [ ]:
trees_clf = ExtraTreesClassifier(n_estimators=400,n_jobs=-1)
trees_clf.fit(train,train_labels)
prediction1_trees = trees_clf.predict(validation)
prediction2_trees = trees_clf.predict_proba(validation)
evaluate(validation_labels,prediction1_trees,prediction2_trees)

#### Multilayer Perceptron Classifier

In [62]:
mlp_clf = MLPClassifier()
mlp_clf.fit(train,train_labels)
prediction1_mlp = mlp_clf.predict(validation)
prediction2_mlp = mlp_clf.predict_proba(validation)
evaluate(validation_labels,prediction1_mlp,prediction2_mlp)

F1 score:  0.3168867042221485
Test Accuracy:  0.3150719515273921
             precision    recall  f1-score   support

       0to3       0.54      0.53      0.53       619
     10to15       0.25      0.23      0.24       923
     15to25       0.31      0.33      0.32       835
     25to50       0.46      0.35      0.40       303
       3to6       0.30      0.29      0.29       553
      6to10       0.20      0.23      0.21       728

avg / total       0.32      0.32      0.32      3961

Log loss for predicted probabilities: 3.268929646959106

In [63]:
yst_pred_mlp =  mlp_clf.predict(test)

#### AdaBoost

In [64]:
ada_clf = AdaBoostClassifier()
ada_clf.fit(train,train_labels)
prediction1_ada = ada_clf.predict(validation)
prediction2_ada = ada_clf.predict_proba(validation)
evaluate(validation_labels,prediction1_ada,prediction2_ada)

F1 score:  0.4065976523845132
Test Accuracy:  0.4211057813683413
             precision    recall  f1-score   support

       0to3       0.57      0.75      0.65       619
     10to15       0.35      0.34      0.34       923
     15to25       0.41      0.50      0.45       835
     25to50       0.42      0.36      0.39       303
       3to6       0.42      0.16      0.23       553
      6to10       0.36      0.39      0.37       728

avg / total       0.41      0.42      0.41      3961

Log loss for predicted probabilities: 1.758586828232172

#### NaiveBayes Classifier

In [65]:
nb_clf = GaussianNB()
nb_clf.fit(train,train_labels)
prediction1_nb = nb_clf.predict(validation)
prediction2_nb = nb_clf.predict_proba(validation)
evaluate(validation_labels,prediction1_nb,prediction2_nb)

F1 score:  0.25313280567349655
Test Accuracy:  0.2926028780610957
             precision    recall  f1-score   support

       0to3       0.38      0.73      0.50       619
     10to15       0.33      0.05      0.09       923
     15to25       0.37      0.23      0.28       835
     25to50       0.19      0.67      0.30       303
       3to6       0.26      0.29      0.27       553
      6to10       0.25      0.14      0.18       728

avg / total       0.31      0.29      0.25      3961

Log loss for predicted probabilities: 24.425152574895105

In [66]:
yst_pred_nb = nb_clf.predict(test)

#### XGBoost classifier

In [62]:
xgb_clf = XGBClassifier(num_class = 6,objective="multi:softprob",eval_metric="mlogloss")
xgb_clf.fit(train,train_labels)
prediction1_xgb = xgb_clf.predict(validation)
prediction2_xgb = xgb_clf.predict_proba(validation)
evaluate(validation_labels,prediction1_xgb,prediction2_xgb)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

F1 score:  0.42733043608458066
Test Accuracy:  0.4402928553395607
             precision    recall  f1-score   support

       0to3       0.59      0.74      0.66       619
     10to15       0.35      0.34      0.35       923
     15to25       0.42      0.59      0.49       835
     25to50       0.60      0.47      0.52       303
       3to6       0.45      0.22      0.30       553
      6to10       0.35      0.30      0.32       728

avg / total       0.44      0.44      0.43      3961

Log loss for predicted probabilities: 1.293136935074487

In [63]:
yst_pred_xgb = xgb_clf.predict(test)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [ ]:
xgb_gs_clf = XGBClassifier(num_class = 6,
                           objective="multi:softprob",
                           eval_metric="mlogloss",
                           seed=42)                         
                        
param_grid = {"max_depth": [15,20,30],
              "n_estimators": [400,500] , 
              "gamma": [0.03,0.05], 
              "learning_rate": [0.08,0.09],
              "min_child_weight": [5,10], 
              "colsample_bytree": [0.4,0.8], 
              "subsample": [0.50,0.85]} 

grid_search = GridSearchCV(xgb_gs_clf, 
                           param_grid=param_grid,
                           cv = 2,
                           n_jobs=-1,
                           scoring='neg_log_loss',
                           verbose=2)
grid_search.fit(train,train_labels)

In [ ]:
print(grid_search.best_params_)

In [ ]:
grid_prediction1 = grid_search.predict(validation)
grid_prediction2 = grid_search.predict_proba(validation)
evaluate(validation_labels,grid_prediction1,grid_prediction2)

In [69]:
#xgb_clf = grid_search.best_estimator_
#xgb_prediction1 = grid_prediction1
#xgb_prediction2 = grid_prediction2
xgb_prediction1 = prediction1_xgb
xgb_prediction2 = prediction2_xgb

https://xgboost.readthedocs.io/en/latest/parameter.html

In [70]:
predictions = pd.DataFrame( {'RandomForest': rf_prediction1,
                                  'xgboost': xgb_prediction1,
                                  'NearestNeighbours': knn_prediction1,
                                  'NeuralNetworrk': prediction1_mlp,
                                  'ExtraTrees': prediction1_trees,
                                  'AdaBoost': prediction1_ada,
                                  'NaiveBayes': prediction1_nb,
                                  'SGD':sgd_prediction1,
                        
    })
predictions.head()

,RandomForest,xgboost,NearestNeighbours,NeuralNetworrk,ExtraTrees,AdaBoost,NaiveBayes,SGD
0,0to3,0to3,0to3,0to3,0to3,0to3,0to3,0to3
1,10to15,10to15,0to3,6to10,10to15,6to10,3to6,6to10
2,6to10,10to15,10to15,6to10,6to10,6to10,6to10,10to15
3,6to10,10to15,15to25,6to10,10to15,6to10,6to10,6to10
4,3to6,0to3,0to3,10to15,3to6,3to6,15to25,10to15

#### Build Stacking model

In [71]:
base1_clf = mlp_clf
base2_clf = rf_clf
base3_clf = trees_clf
base4_clf = ada_clf
base5_clf = sgd_clf
final_clf = xgb_clf

In [72]:
n_folds = 5
n_class = 6
kf = KFold(n_splits= n_folds, shuffle=True, random_state=42)

#### Now as alluded to above in the introductory section, stacking uses predictions of base classifiers as input for training to a second-level model. However one cannot simply train the base models on the full training data, generate predictions on the full test set and then output these for the second-level training. This runs the risk of your base model predictions already having "seen" the test set and therefore overfitting when feeding these predictions.

In [76]:
def get_oof(clf, x_train, y_train, x_test,f_test):
    ntest = x_test.shape[0]
    n1test = f_test.shape[0]
    oof_train = np.zeros((x_train.shape[0],n_class))
    oof_test = np.zeros((ntest,n_class))
    oof_ftest = np.zeros((n1test,n_class))
    oof_test_temp = np.empty((n_folds, ntest))
   
    for i,(train_index, test_index) in enumerate(kf.split(x_train)):
        
        x_tr = x_train[train_index]
        y_tr = y_train[train_index]
        x_te = x_train[test_index]
  
        
        clf.fit(x_tr, y_tr)

        pred_te = clf.predict_proba(x_te)
        oof_train[test_index,:] = pred_te
        
        pred_test = clf.predict_proba(x_test)
        oof_test += pred_test
        pred_ftest = clf.predict_proba(f_test)
        oof_ftest += pred_ftest

    return oof_train, oof_test/n_folds,oof_ftest/n_folds

In [104]:
train

,Exp_min,Exp_max,loc_Bengaluru,loc_Chennai,loc_Delhi,loc_Gurgaon,loc_Hyderabad,loc_Mumbai,loc_Noida,loc_Pune,...,year,year exp,year experience,year sa,youtube,yr,yr exp,zend,zonal,zoology
7626,-0.991783,-0.723057,-0.555212,-0.244388,-0.341398,3.002022,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8223,-0.991783,-0.723057,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
4318,-0.692976,-1.195288,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
12025,3.191514,2.818673,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
18742,-0.095362,-0.014711,-0.555212,-0.244388,-0.341398,3.002022,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
12958,1.697479,2.818673,-0.555212,4.091855,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8915,1.099866,0.929750,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
3971,0.203445,0.457519,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2718,1.099866,0.929750,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8379,1.697479,1.638096,-0.555212,4.091855,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
12128,1.996286,1.165865,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,3.821520,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2958,-1.290590,-1.195288,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
1256,-1.290590,-1.195288,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2420,-0.692976,-0.723057,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
15362,0.203445,-0.014711,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8441,-0.095362,-0.250827,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2640,-0.095362,0.221404,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
222,-0.095362,-0.014711,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,6.081816,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8500,0.801059,0.929750,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,2.341750,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
10204,3.191514,2.818673,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
3572,-1.290590,-1.431404,-0.555212,4.091855,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
15185,-0.692976,-0.723057,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2652,-0.394169,-0.723057,-0.555212,-0.244388,-0.341398,3.002022,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
18630,0.502252,0.693635,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
13631,-1.290590,-1.195288,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
12506,3.191514,3.999250,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
13211,-0.991783,-1.195288,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8570,-0.991783,-1.431404,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
5377,-0.991783,-0.486942,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,6.081816,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
9360,-1.290590,-0.723057,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,-0.692976,-0.486942,-0.555212,-0.244388,-0.341398,3.002022,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
1899,3.191514,3.999250,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
3005,-0.692976,-0.723057,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
19118,2.295093,1.401981,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
189,0.801059,0.929750,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2747,0.801059,0.221404,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
18431,-0.692976,-0.486942,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
18942,-0.394169,-0.250827,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8666,1.697479,1.401981,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
6396,-0.692976,-0.486942,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
19769,-0.394169,-0.250827,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,2.341750,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
17568,-0.394169,-0.723057,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
6420,1.697479,0.929750,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
5051,-0.692976,-0.959173,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,3.821520,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
5311,-0.991783,-1.195288,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,6.081816,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
2433,0.203445,-0.250827,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
769,-0.991783,-0.486942,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,3.821520,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
1685,-0.991783,-1.195288,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
8322,0.203445,0.457519,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
16023,1.697479,2.818673,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
11363,-0.692976,-0.723057,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
14423,0.203445,0.221404,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
4426,-0.692976,-0.486942,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
16850,-0.394169,-0.486942,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,2.341750,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
6265,0.502252,0.693635,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
11284,-0.095362,-0.486942,-0.555212,-0.244388,2.929134,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
11964,-0.692976,-0.959173,-0.555212,-0.244388,-0.341398,-0.333109,4.015211,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
5390,0.203445,-0.250827,1.801114,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
860,-0.095362,-0.486942,-0.555212,-0.244388,-0.341398,3.002022,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566
15795,-1.290590,-0.723057,-0.555212,-0.244388,-0.341398,-0.333109,-0.249053,-0.427031,-0.164425,-0.261676,...,-0.095208,-0.026688,-0.030242,-0.020334,-0.029959,-0.067088,-0.03016,-0.017263,-0.027936,-0.021566

In [91]:
x_train = train.values
x_test = validation.values
#train_labels = pd.Categorical(train_labels).codes
y_train = train_labels.ravel()

In [92]:
base1_oof_train, base1_oof_test,base1_oof_ftest = get_oof(base1_clf, x_train, y_train, x_test,test)
base2_oof_train, base2_oof_test,base2_oof_ftest = get_oof(base2_clf, x_train, y_train, x_test,test)
base3_oof_train, base3_oof_test,base3_oof_ftest = get_oof(base3_clf, x_train, y_train, x_test,test)
base4_oof_train, base4_oof_test,base4_oof_ftest = get_oof(base4_clf, x_train, y_train, x_test,test) 
base5_oof_train, base5_oof_test,base5_oof_ftest = get_oof(base5_clf, x_train, y_train, x_test,test)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\base.py:347: RuntimeWarning: invalid value encountered in true_divide
  prob /= prob.sum(axis=1).reshape((prob.shape[0], -1))

In [94]:
x_train = np.concatenate((base1_oof_train, 
                          base2_oof_train,
                          base3_oof_train,
                          base4_oof_train,
                          base5_oof_train), axis=1)
x_test = np.concatenate((base1_oof_test,
                         base2_oof_test,
                         base3_oof_test,
                         base4_oof_test,
                         base5_oof_test), axis=1)
f_test = np.concatenate((base1_oof_ftest,
                         base2_oof_ftest,
                         base3_oof_ftest,
                         base4_oof_ftest,
                         base5_oof_ftest), axis=1)

In [95]:
final_clf.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, eval_metric='mlogloss', gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, num_class=6, objective='multi:softprob',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [96]:
prediction1_stacked = final_clf.predict(x_test)
prediction2_stacked = final_clf.predict_proba(x_test)
evaluate(validation_labels,prediction1_stacked,prediction2_stacked)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

F1 score:  0.39969046330532904
Test Accuracy:  0.40949255238576115
             precision    recall  f1-score   support

       0to3       0.62      0.79      0.70       619
     10to15       0.33      0.41      0.36       923
     15to25       0.37      0.37      0.37       835
     25to50       0.55      0.50      0.52       303
       3to6       0.42      0.24      0.30       553
      6to10       0.27      0.23      0.25       728

avg / total       0.40      0.41      0.40      3961

Log loss for predicted probabilities: 1.242709352309672

In [97]:
yst_pred = final_clf.predict(f_test)

C:\Users\sandeep.rathod\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [101]:
sal_pred = pd.DataFrame(yst_pred_xgb)

In [102]:
sal_pred.to_excel('sal_test_reslt_xg_new.xlsx')

#### Build Stacking model

In [100]:
predictions = pd.DataFrame( {'RandomForest': yst_pred_rf,
                                  'xgboost': yst_pred_xgb,
                                  'NearestNeighbours':yst_pred_knn,
                                  'NeuralNetworrk': yst_pred_mlp,
                                  'NaiveBayes': yst_pred_nb,
                                  'SGD':yst_pred_sgd,
                                  'Final':yst_pred
                        
    })
predictions.head(100)

,RandomForest,xgboost,NearestNeighbours,NeuralNetworrk,NaiveBayes,SGD,Final
0,10to15,15to25,0to3,10to15,6to10,10to15,10to15
1,6to10,0to3,0to3,6to10,0to3,6to10,0to3
2,10to15,10to15,10to15,6to10,6to10,10to15,6to10
3,0to3,0to3,0to3,0to3,0to3,0to3,0to3
4,3to6,0to3,0to3,3to6,0to3,3to6,0to3
5,3to6,6to10,6to10,3to6,0to3,3to6,3to6
6,15to25,15to25,10to15,15to25,0to3,10to15,15to25
7,0to3,0to3,0to3,3to6,0to3,3to6,0to3
8,10to15,10to15,10to15,15to25,15to25,10to15,10to15
9,0to3,0to3,0to3,0to3,0to3,0to3,0to3
10,25to50,15to25,25to50,25to50,25to50,10to15,25to50
11,10to15,10to15,0to3,10to15,25to50,10to15,10to15
12,15to25,10to15,10to15,15to25,15to25,15to25,15to25
13,25to50,15to25,25to50,15to25,25to50,15to25,25to50
14,3to6,3to6,10to15,3to6,3to6,3to6,3to6
15,10to15,10to15,10to15,10to15,6to10,10to15,10to15
16,0to3,0to3,0to3,0to3,0to3,0to3,0to3
17,0to3,0to3,0to3,0to3,0to3,0to3,0to3
18,10to15,15to25,10to15,10to15,10to15,10to15,10to15
19,10to15,10to15,6to10,6to10,25to50,10to15,10to15
20,6to10,6to10,10to15,6to10,25to50,6to10,6to10
21,25to50,25to50,25to50,6to10,6to10,6to10,25to50
22,25to50,6to10,10to15,25to50,25to50,25to50,25to50
23,6to10,10to15,6to10,10to15,3to6,10to15,6to10
24,10to15,10to15,0to3,10to15,0to3,6to10,10to15
25,0to3,0to3,0to3,6to10,0to3,6to10,0to3
26,15to25,15to25,10to15,15to25,25to50,15to25,15to25
27,10to15,10to15,10to15,10to15,3to6,10to15,10to15
28,10to15,15to25,0to3,10to15,3to6,10to15,10to15
29,10to15,0to3,10to15,10to15,25to50,10to15,10to15
...,...,...,...,...,...,...,...
70,10to15,15to25,10to15,10to15,15to25,10to15,10to15
71,15to25,15to25,10to15,3to6,3to6,3to6,15to25
72,6to10,6to10,3to6,3to6,3to6,6to10,3to6
73,15to25,10to15,15to25,15to25,3to6,15to25,15to25
74,15to25,15to25,3to6,10to15,0to3,10to15,10to15
75,10to15,10to15,0to3,6to10,0to3,6to10,10to15
76,10to15,3to6,0to3,10to15,0to3,10to15,10to15
77,25to50,10to15,10to15,25to50,25to50,25to50,15to25
78,10to15,15to25,10to15,10to15,15to25,15to25,15to25
79,10to15,10to15,6to10,6to10,3to6,6to10,10to15
80,6to10,6to10,0to3,6to10,3to6,6to10,6to10
81,15to25,15to25,6to10,15to25,3to6,10to15,15to25
82,10to15,10to15,0to3,25to50,25to50,25to50,10to15
83,0to3,0to3,6to10,0to3,0to3,0to3,0to3
84,25to50,25to50,25to50,25to50,25to50,25to50,25to50
85,3to6,15to25,0to3,3to6,3to6,10to15,3to6
86,10to15,0to3,3to6,3to6,25to50,10to15,10to15
87,10to15,10to15,10to15,10to15,6to10,6to10,10to15
88,0to3,0to3,10to15,6to10,25to50,6to10,3to6
89,3to6,0to3,0to3,6to10,25to50,15to25,3to6
90,10to15,6to10,10to15,10to15,0to3,10to15,10to15
91,0to3,0to3,0to3,0to3,0to3,0to3,0to3
92,0to3,0to3,0to3,0to3,0to3,0to3,3to6
93,0to3,0to3,0to3,0to3,0to3,0to3,0to3
94,15to25,15to25,10to15,25to50,10to15,10to15,15to25
95,15to25,15to25,15to25,15to25,25to50,25to50,25to50
96,10to15,10to15,10to15,10to15,6to10,10to15,10to15
97,3to6,15to25,3to6,3to6,3to6,3to6,3to6
98,15to25,15to25,15to25,15to25,25to50,15to25,15to25
99,0to3,0to3,0to3,0to3,0to3,0to3,0to3